/* FONTS */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
	font-family: "Inter";
	src: url("https://rsms.me/inter/inter.css");
}
  
@font-face {
	font-family: "Druk X";
	src: url("/assets/fonts/Druk-XCondSuper.otf");
}

/* BASIC ELEMENTS */

::-moz-selection {
	background: yellow;
	color: #000;
}

::selection {
	background: yellow;
	color: #000;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: linear-gradient(#5555FF 0.47%, #55FFFF 16.43%, #55FF55 33.38%, #FFFF55 50.16%, #FF5555 67.03%, #FF55FF 83.63%, #5555FF 99.45%);
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	color: black;
	font-weight: 900;
	cursor: default;
}

p, a {
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: "Druk X";
	font-size: 4em;
	letter-spacing: 0;
	font-size: 25vw;
	line-height: 0;
}

h2 {
	font-size: 3em;
}

h3 {
	font-weight: 400;
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

a {
	text-decoration: none;
	padding: .2rem 0.8rem 0.5rem 0.5rem;
	border-radius: 2rem;
	background: none;
	border: 2px solid black;
}

a:hover {
	background: white;
	border: 2px solid transparent;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
}

a {
	color: black;
}

.heroimage {
	max-width: 100%;
	border: .5rem solid black;
	border-radius: 1rem;
}

/* SPECIFIC ELEMENTS */

#apply-button {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-bottom: 1rem;
}

#apply-button input {
	color: white;
    background: #5555FF;
    font-weight: 700;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 4rem;
	font-size: 1.5rem;
	transition: all .2s ease-in-out;
}

#apply-button input:hover {
	background: white;
	color: #4444FF;
	cursor: pointer;
	box-shadow: 0 1rem 5rem rgba(0,0,0,0.2);
}

#apply-button input:active {
	opacity: .5;
}

main {
	padding: 2em;
    text-align: center;
}

main h3 {
	margin-bottom: 5rem;
}

.card {
	background-color: white;
	min-height: 550px;
	border-radius: 30px;
}

.cardtitle {
	color: lightgrey;
}

#logos img {
	width: 4rem;
	border-radius: 2rem;
	margin: 0.5rem;
}

/* MEDIA QUERIES */

@media (min-width: 640px) {
	main {
		max-width: none;
		padding: 4em;
	}
	
	h2 {
		font-size: 5em;
	}
	.cardrow {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		}
	}